<div class="container-fluid pt-4">
<form class="container-fluid" method="get" action="auteur/create">
    <span class="form-group custom-control-inline">
      <label for="nom" class="custom-control-label">Nom </label>
      <input type="text" id="nom" class=" form-control" name="nom">
    </span>
    <span class="form-group custom-control-inline">
      <label for="prenom" class="custom-control-label">Prenom </label>
      <input type="text" id="prenom" class=" form-control" name="prenom">
    </span>
  <span class="form-group custom-control-inline">
      <label for="mdp" class="custom-control-label">Mot de passe </label>
      <input type="password" id="mdp" class="form-control" name="motDePasse">
  </span>
  <input type="checkbox" value="true" hidden="hidden" name="confirmed">
  <input type="submit" value="valider">
</form>
</div>
